@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Daniel Novack";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    101 Vera King Farris Drive<br />
    Galloway, NJ 08205-9441<br />
    (609) 652-1776
</address>

<address>
    <strong>Stockton:</strong> <a href="mailto:novackd@go.stockton.edu">novackd@go.stockton.edu</a><br />
    <strong>Personal:</strong> <a href="mailto:blobs12593@hotmail.com">blobs12593@hotmail.com</a>
</address>