
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import</title>
</head>
<body>
    <div>
        Add / and the URL to the URL above to import quotes.
        @*<form>
            Input file from: <input type="text" name="id">
        </form>
        <input type="submit" value="id" class="btn btn-default" name="id" />
        @Html.ActionLink("Import", "Import", new { id = "http://indra.stockton.edu/projects/quotematic/Quote" })*@
    </div>
</body>
</html>
