@{
    ViewBag.Title = "Import";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.TextBox("id")
            <input type="submit" value="Import" class="btn btn-default" name="submission" />
        }
    </div>
</body>
</html>
